  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; max-width: 600px; margin: auto; border: none;">
    <!-- Header Section -->
    <tr>
      <td align="center" style="padding: 20px 0;">
        <h1 style="font-family: Arial, sans-serif;font-size: 24px; margin: 0;">Lynx Game Invitation</h1>
      </td>
    </tr>
    <!-- Content Section -->
    <tr>
      <td align="center" style="padding: 20px; font-family: Arial, sans-serif;font-size: 16px; line-height: 1.5; text-align: center;">
        {{ invitationText }}
      </td>
    </tr>
    <!-- Date and Time Section -->
    <tr>
      <td align="center" style="padding: 20px; text-align: left;">
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li style="margin-bottom: 10px; font-family: Arial, sans-serif;"><strong>Date:</strong> {{date}}</li>
          <li style="font-family: Arial, sans-serif;"><strong>Time:</strong> {{time}} {{timezone}}</li>
        </ul>
      </td>
    </tr>
    <!-- Button Section -->
    <tr>
      <td align="center" style="padding: 20px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 300px; margin: auto;">
          <tr>
<!--            <td align="center" style="padding: 10px;">-->
<!--              <a href="#cant-make-it" class="button" style="background-color: #EB6767; color: #ffffff; text-decoration: none; padding: 10px 20px; font-family: Arial, sans-serif;font-size: 16px; border-radius: 5px; display: inline-block;">Can’t make it</a>-->
<!--            </td>-->
            <td align="center" style="padding: 10px;">
                <a href="{{url}}" class="button" style="background-color: #67EBB4; color: #000000; text-decoration: none; padding: 10px 20px; font-family: Arial, sans-serif;font-size: 16px; border-radius: 5px; display: inline-block;">I’m In</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
